{% extends "base.html" %}

{% block title %}
<title>Home - Press Agency</title>
{% endblock %}

{% block maincontent %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post previews -->
            {% for post in latest_posts %}
                <div class="post-preview">
                    <a href="{% url "catalog:news_detail" name=post.topic.name|lower pk=post.id %}">
                        <h2 class="post-title">{{ post.topic }}</h2>
                        <h3 class="post-subtitle">{{ post.content|truncatechars:80 }}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        {% for publisher in post.publishers.all %}
                            <a href="#">{{ publisher.first_name }} {{ publisher.last_name }}</a>{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            <span>Anonymous</span>
                        {% endfor %}
                        on {{ post.published_date }}
                    </p>
                </div>
                <!-- Divider -->
                <hr class="my-4" />
            {% empty %}
                <p>No publications found.</p>
            {% endfor %}

            <!-- Pager -->
            <div class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary text-uppercase" href="#">All news →</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}